name: Build, Test and Deploy
on:
  # run when the master branch is updated
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, 'ci skip')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
           
      - name: deploy
        run: .scripts/deploy_npm
        env: 
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}            
          GH_TOKEN: ${{ secrets.ACTION_TOKEN }}
